{% extends 'layout.html.twig' %}

{% block title %}Dashboard - {{ parent() }}{% endblock %}

{% block content %}
<div class="app-title">
    <div>
        <h1>
            <i class="fa fa-dashboard"></i>&nbsp;Tableau de bord
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6">
                {% include "main/components/data_card.html.twig" with {
                    color: "info",
                    icon: "fa-spinner",
                    title: "Projets en cours",
                    value: open_projects
                } %}
            </div>
            <div class="col-md-6">
                {% include "main/components/data_card.html.twig" with {
                    color: "warning",
                    icon: "fa-check-square-o",
                    title: "Projets livrés",
                    value: delivered_projects
                } %}
            </div>
            <div class="col-md-6">
                {% include "main/components/data_card.html.twig" with {
                    color: "primary",
                    icon: "fa-users",
                    title: "Employés",
                    value: employee_count
                } %}
            </div>
            <div class="col-md-6">
                {% include "main/components/data_card.html.twig" with {
                    color: "danger",
                    icon: "fa-calendar-check-o",
                    title: "Jours de production",
                    value: production_time
                } %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-uppercase">
                    <div class="card-header text-center">
                        Rentabilité
                    </div>
                    <div class="card-body">
                        <p class="text-muted">
                            <i class="fa fa-database mr-2 text-primary"></i>
                            {{ profitable_rate }}% RENTABLE
                        </p>
                        <div class="embed-responsive embed-responsive-16by9">
                            <canvas
                                id="ratio-chart"
                                class="embed-responsive-item"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-uppercase">
                    <div class="card-header text-center">
                        Taux de livraison
                    </div>
                    <div class="card-body">
                        <p class="text-muted">
                            <i class="fa fa fa-check-square-o mr-2 text-primary"></i>
                            {{ delivery_rate }}% Livrés
                        </p>
                        <div class="embed-responsive embed-responsive-16by9">
                            <canvas
                                id="delivered-chart"
                                class="embed-responsive-item"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {{ render(controller('App\\Controller\\EmployeeController::bestEmployeeCard')) }}
            </div>
        </div>

        <hr />

        {{ render(controller('App\\Controller\\ProjectController::listLatest')) }}
    </div>

    <div class="col-md-3">
        {{ render(controller('App\\Controller\\WorktimeController::listLatest')) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"
        integrity="sha256-oSgtFCCmHWRPQ/JmR4OoZ3Xke1Pw4v50uh6pLcu+fIc="
        crossorigin="anonymous"></script>
    <script>
        var ratioData = [{{ profitable_rate }}, {{ 100 - profitable_rate }}];
        var deliveredData = [{{ delivery_rate }}, 100 - {{ delivery_rate }}];
    </script>

    <script src={{ asset("js/dashboard.js") }}></script>
{% endblock %}
