<div class="tile">
    <h3 class="title-title mb-4">Ajouter un temps</h3>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}

        {% for form_field in ["project", "daysSpent"] %}
            <div class="form-group row">
                {{ form_label(form[form_field], null, {'label_attr': {'class': 'control-label col-md-6'} })}}
                <div class="col-md-6">
                    {{ form_widget(form[form_field], {'attr': {'class': "form-control #{form_errors(form[form_field]) ? 'is-invalid'}", 'placeholder': form[form_field].vars.label} }) }}
                    <div class="form-control-feedback text-danger">
                        {{ form_errors(form[form_field]) }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="offset-md-6 col-md-8">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>Enregistrer</a>
            </div>
        </div>
    {{ form_end(form) }}
</div>