{% extends 'layout.html.twig' %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block content %}
<div class="app-title">
    <div>
        <h1><i class="fa fa-laptop"></i>&nbsp;{{ title }}</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">
            <a href={{ path('main_dashboard') }}><i class="fa fa-home fa-lg"></i></a>
        </li>
        <li class="breadcrumb-item">
            <a href={{ path('projects_list') }}>Projets</a>
        </li>
        <li class="breadcrumb-item">{{ title }}</li>
    </ul>
</div>
<div class="tile">
    {% include 'components/flash_display.html.twig' %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
        <section>
            <h3>Informations générales</h3>
            <div class="row mt-4">
                <div class="offset-md-4 col-md-8">
                    {% for form_field in ["name", "description"] %}
                        {% include 'components/form_field.html.twig' with { form_field: form_field } %}
                    {% endfor %}
                </div>
            </div>
        </section>

        <hr/>

        <section>
            <h3>Production</h3>
            <div class="row mt-4">
                <div class="offset-md-4 col-md-8">
                    {% for form_field in ["price"] %}
                        {% include 'components/form_field.html.twig' with { form_field: form_field } %}
                    {% endfor %}
                </div>
            </div>
        </section>

        <hr/>

        <div class="row">
            <div class="offset-md-6 col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>Enregistrer</a>
            </div>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
